<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gamification"
        tools:targetApi="31">
        <activity
            android:name=".Synonyms"
            android:exported="false" />
        <activity
            android:name=".OTPAuth"
            android:exported="false" />
        <activity
            android:name=".Leaderboard"
            android:exported="false" />
        <activity
            android:name=".PrimaryHome"
            android:exported="false" />
        <activity
            android:name=".jhs.ss.SocialStudies"
            android:exported="false" />
        <activity
            android:name=".jhs.science.Science"
            android:exported="false" />
        <activity
            android:name=".jhs.english.English"
            android:exported="false" />
        <activity
            android:name=".jhs.maths.Maths"
            android:exported="false" />
        <activity
            android:name=".quizzes.wai.WhatAmI"
            android:exported="false" />
        <activity
            android:name=".quizzes.kys.KnowYourScience"
            android:exported="false" />
        <activity
            android:name=".quizzes.antonyms.Antonyms"
            android:exported="false" />
        <activity
            android:name=".quizzes.synonyms.Synonyms"
            android:exported="false" />
        <activity
            android:name=".quizzes.brainteaser.BrainTeaser"
            android:exported="false" />
        <activity
            android:name=".quizzes.geoquiz.SelectContinent"
            android:exported="false" />
        <activity
            android:name=".quizzes.gtw.GuessTheWord"
            android:exported="false" />
        <activity
            android:name=".quizzes.geoquiz.Capitals"
            android:exported="false" />
        <activity
            android:name=".quizzes.geoquiz.FlagQuiz"
            android:exported="false" />
        <activity
            android:name=".quizzes.geoquiz.EmbulumQuiz"
            android:exported="false" />
        <activity
            android:name=".quizzes.geoquiz.GeoQuiz"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>